#password-set {
  height: 100%;
  overflow: hidden;
  background-image: url("/assets/images/backgrounds/april.jpg");
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  #password-set-form-wrapper {
    flex: 1 0 auto;
    padding: 32px;
    #password-set-form {
      width: 384px;
      max-width: 384px;
      padding: 32px;
      text-align: center;
      background: #FFFFFF;
      .logo {
        width: 128px;
        height: 128px;
        line-height: 128px;
        font-size: 86px;
        font-weight: 500;
        margin: 32px auto;
        color: #FFFFFF;
        border-radius: 2px;
      }
      .title {
        font-size: 17px;
        margin: 16px 0 32px 0;
      }
      form {
        width: 100%;
        text-align: left;
        .submit-button {
          width: 220px;
          margin: 0 auto 16px auto;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-xs) {
  #password-set {
    #password-set-form-wrapper {
      padding: 16px;
      #password-set-form {
        padding: 24px;
        width: 100%;
        form {
          .md-button {
            width: 90%;
          }
        }
      }
    }
  }
}
