<div id="password-set" class="flex-scrollable" layout="column" ms-scroll>
  <div id="password-set-form-wrapper" layout="column" layout-align="center center">
    <div id="password-set-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>T</span>
      </div>

      <div class="title">Password Set</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" placeholder="Password" ng-model="vm.user.password" ng-minlength="8" ng-disabled="vm.working || !vm.oobCode" required>
          <div ng-messages="vm.f.password.$error">
            <div ng-message="required">Please enter a password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-accent submit-button" ng-click="vm.passwordSet(vm.user)" ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working || !vm.oobCode">
          {{vm.working ? 'Setting...' : 'Set Password'}}
        </md-button>
      </form>
    </div>
  </div>
</div>
