<div id="password-reset" class="flex-scrollable" layout="column" ms-scroll>
  <div id="password-reset-form-wrapper" layout="column" layout-align="center center">
    <div id="password-reset-form" class="md-whiteframe-8dp">
      <div class="logo md-accent-bg">
        <span>T</span>
      </div>

      <div class="title">Password Reset</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.email.$error">
            <div ng-message="required">Please enter your email.</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-accent submit-button" ng-click="vm.passwordReset(vm.user)" ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working">
          {{vm.working ? 'Sending...' : 'Send Reset Link'}}
        </md-button>
      </form>

      <div class="login" layout="row" layout-align="center center">
        <a class="link" ui-sref="app.main_pages_login">Back to Login</a>
      </div>
    </div>
  </div>
</div>
