<div id="login" layout="row" layout-align="start">
  <div id="login-intro" flex hide show-gt-sm>
    <div class="logo md-accent-bg">
      <span>T</span>
    </div>
    <div class="title">Timezones</div>
    <div class="description">Track your favorite timezones.</div>
  </div>

  <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
    <div id="login-form">
      <div class="logo md-accent-bg" hide-gt-sm>
        <span>T</span>
      </div>

      <div class="title">Login</div>
      <div class="description">What are you waiting for?</div>

      <form name="vm.f" novalidate>
        <md-input-container class="md-block" md-no-float>
          <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.email.$error">
            <div ng-message="required">Please enter your email.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
          <input type="password" name="password" placeholder="Password" ng-model="vm.user.password" ng-minlength="8" ng-disabled="vm.working" required>
          <div ng-messages="vm.f.password.$error">
            <div ng-message="required">Please enter your password.</div>
            <div ng-message="minlength">Must be at least 8 characters.</div>
          </div>
        </md-input-container>

        <div class="remember-forgot-password" layout="row" layout-sm="column" layout-align="center center">
          <a ui-sref="app.main_pages_password-reset" class="forgot-password md-accent-color">Forgot password?</a>
        </div>

        <md-button type="submit" class="md-raised md-accent submit-button" ng-click="vm.login(vm.user)" ng-disabled="vm.f.$invalid || vm.f.$pristine || vm.working">
          {{vm.working ? 'Logging in...' : 'Login'}}
        </md-button>
      </form>

      <div class="register" layout="row" layout-sm="column" layout-align="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" ui-sref="app.main_pages_register">Register</a>
      </div>
    </div>
  </div>
</div>
